#ccjmne--google-search-hotkeys--indicator,
.ccjmne--google-search-hotkeys--number-indicator {
  position: absolute;
  left: -1.5em;
  cursor: help;
}

#ccjmne--google-search-hotkeys--indicator {
  color: $colour-accent;
  font-size: 18px;

  &::before {
    content: '▶';
  }
}

.ccjmne--google-search-hotkeys--number-indicator {
  transform: translateX(-100%);
  color: nth($dark, 2);
  font-family: monospace;
  font-size: 12px;

  @at-root #ccjmne--google-search-hotkeys--indicator + & {
    display: none;
  }
}
