#ccjmne-snh-indicator,
.ccjmne-snh-number-indicator {
  position: absolute;
  left: -1.5em;
  cursor: help;
}

#ccjmne-snh-indicator {
  color: $colour-accent;
  font-size: 18px;

  &::before {
    content: '▶';
  }
}

.ccjmne-snh-number-indicator {
  transform: translateX(-100%);
  color: nth($dark, 2);
  font-family: monospace;
  font-size: 12px;

  @at-root #ccjmne-snh-indicator + & {
    display: none;
  }
}
