$durations: (
  snappy: .1s,
  regular: .2s,
  slower: .3s
);

$spacing-h: (
  tight-em: .2em,
  tight: .5vh,
  regular-em: 1em,
  regular: 1vh,
  comfortable: 2vh,
  spacious: 5vh,
);

$spacing-w: (
  tight-em: .5em,
  tight: .5vw,
  regular-em: 2em,
  regular: 1vw,
  comfortable: 2vw,
  spacious: 5vw,
);

@import './colours';
@import './filter-and-sort';
@import './help-card';
@import './indicators';
@import './overlay-layout';
@import './bubbles';
