#ccjmne-snh-tooltip {
  display: flex;
  position: absolute;
  top: 0;
  left: -.5em;
  align-items: center;
  height: 30px;
  padding: 0 1em;
  transition: box-shadow map-get($durations, regular) ease-out;
  border: 1px solid $colour-primary;
  border-radius: 10px 0 10px 10px;
  background-color: nth($light, 1);
  color: $colour-primary;
  font-family: sans-serif;
  font-size: 13px;
  white-space: nowrap;

  &::before {
    content: "What's this?";
  }

  &:active,
  &:hover {
    border-color: $colour-primary--darker;
    box-shadow: nth($shadow, 1);
    color: $colour-primary--darker;
    cursor: pointer;
  }

  &:active {
    background-color: nth($light, 2);
  }
}
